main {
    background-color: white;
    padding: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    min-width: 18.75rem;
    max-width: 62.5rem;
    margin: auto;
    border-color: var(--first);
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.612);

    & article > h1{
        font-size: 1.5em;
        font-family: var(--title);
        color: var(--second);
        margin-bottom: 0.625rem;
        width: 100%;
    }

    & article > p{
        font-size: 1em;
        font-family: var(--text);
        margin-bottom: 0.625rem;
        width: 100%;
        text-indent: 1rem;
        text-align: justify; 
        line-height: 1.3em;
    }

    & article > img {
        width: 100%;
        margin: 0.625rem auto 0.625rem auto;
        border-radius: 0.625rem;   
            
    }

    & .pequena {
        display: block;
        max-width: 18.75rem;
        margin: 0.625rem auto 0.625rem auto;
        border-radius: 0.625rem;      
    }

    & article > h2 {
        font-size: 1.2em;
        font-family: var(--title);
        color: var(--second);
        margin-bottom: 0.625rem;
        padding: 0.3125rem 0 0.3125rem 0.625rem;
        border-radius: 2px;
        width: 100%;
        background: 
        linear-gradient(90deg, 
        rgba(107, 140, 91, 0.425) 50%, 
        rgba(42, 51, 38, 0.16) 100%);
    }

    &  a {
        font-size: 1em;
        font-family: var(--text);
        text-decoration: none;
        margin-bottom: 0.625rem;
    }

    & a:hover {
        text-decoration: underline;
    }
    & a:visited {
        color: red
    }

    & a::after {
        content: "🔗";  
    }

    & .curiosidades > li {
        list-style: none;
        margin-bottom: 0.625rem;      
    }

    & iframe{
        width: 100%;
        height: 25rem;
        margin: 0.625rem auto 0.625rem auto;
        border-radius: 0.625rem;
    }

    & aside {
        width: 100%;
        background-color: var(--third);
        border-radius: 0.625rem;
        margin-bottom: 1.25rem;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);

        & h2 {
            background-color: var(--fourth);
            color: white;
            padding: 0.9375rem;
            border-top-left-radius: 0.625rem;
            border-top-right-radius: 0.625rem;
            margin: 0;
            width: 100%;
        }
        & h3 {
            padding: 0.9375rem;
            margin: 0;
            width: 100%;
        }

        & p {
            padding: 0 0.9375rem;
            margin: 0;
            width: 100%;
            text-indent: 1rem;
            text-align: justify;
            line-height: 1.3em;
        }

        & ul {

            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.625rem;
            justify-content: center;
            align-items: center;
            font-size: .9rem;
            padding: 1.25rem 1.5625rem; 
            list-style-position: inside;
            list-style-type: '\1F449\00A0\00A0';
            margin-bottom: 0.3125rem;
               
        }

        & ul > li {
            margin-bottom: 0.625rem;
        }

        & p {
            padding: 0.625rem 0.9375rem;
            width: 100%;
        }
       
    }

}