nav {
    width: 100%;
    background-image: 
    linear-gradient(to top, 
    rgba(42,51,38,1) 100%,
    rgba(107,140,91,1) 0%,
    rgba(107,140,91,1) 0%);
    display: flex;
    justify-content: space-around;
    padding: 0.625rem 0 0.625rem 0;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);

    & a {
        width: 100%;
        color: var(--fifth);
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 2px 0.5rem 2px 0.5rem;
        
    }

    & a:hover{
        background-color: var(--first);
        border-top-left-radius: .3125rem;
        border-top-right-radius: .3125rem;
        text-decoration: underline;
    }
}